.block_1 {
    display: flex;
}

.web_designing {
    background-color: #f3f3f3;
    padding: 5% 7% 0% 6%;
}

.main h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 55px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.bold_text {
    font-weight: 900;
}

.text_project {
    font-weight: 600;
}

.main p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    color: #685f5f;
}

.block_1 .text_in_block1 {
    font-size: 20px;
    margin-top: 8%;
}