.block_1 {
    width: 100%;
    display: flex;
}

.block_1 .image img {
    max-width: 100%;
    height: 100%;
}

.block_1 .web_designing {
    width: 45%;
    background-color: #f3f3f3;
    padding: 4% 8% 0% 7%;
}

.main h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.bold_text {
    font-weight: 900;
}

.block_1 .text_project {
    font-weight: 600;
}

.main p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;
    color: #685f5f;
}

.block_1 .text_in_block1 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 8%;
}

.block_2 {
    width: 100%;
    display: flex;
}

.block_2 .second_half {
    width: 48%;
    display: block;
}

.block_2 .drawing_scketch {
    width: 52%;
    background-image: url(./image/photo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3% 5% 5% 3%;
}

.block_2 .best_strarting {
    background-image: url(./image/photo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4% 23% 10% 7%;
}

.second_half {
    height: 100%;
    width: 48%;
}

.second_half a {
    width: 38%;
    display: flex;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    color: #262626;
    border: 1px solid rgb(59, 56, 56);
    justify-content: center;
    border-radius: 10px;
    padding: 2% 0%;
    margin-top: 10%;
}

.verified_dummy {
    background-image: url(./image/phptp4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4% 23% 10% 7%;
}

.verified_dummy .link_2 {
    color: #dfd7d7;
    border: 1px solid #dfd7d7;
}

.block_3 {
    display: flex;
}

.designed_by {
    width: 35%;
    background-image: url(./image/photo5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3% 3% 5% 3%;
}

.designed_by .logo {
    margin-top: 60%;
}

.designed_by .ali_sayed {
    font-weight: 900;
    color: #ece6e6;
}

.designed_by h5 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.say_hello {
    width: 65%;
    background-image: url(./image/photo6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3% 0% 0% 4%;
}

.say_hello input {
    background: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    border-radius: 12px;
    color: #ffffff;
    padding: 2% 10% 2% 3%;
    margin: 1% 1% 1.5% 0;
}

.say_hello textarea {
    width: 70%;
    background: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    border-radius: 12px;
    color: #ffffff;
    padding: 2%;
    margin-bottom: 14%;
}

.say_hello .link {
    display: flex;
}

.say_hello .link a {
    width: 40px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    padding: 1%;
    margin: 2% 0 5% 0;
}

.say_hello .link .logo_facebook {
    background-color: #345bb4;
}

.say_hello .link .logo_dribbble {
    background-color: #e64895;
    margin: 2% 1% 5% 1%;
}

.say_hello .link .logo_twitter {
    background-color: #00b4ff;
}

.main .white_text {
    color: #ece6e6;
}

.second_half .link_1:hover {
    background-color: #d4c38f9a;
}

.second_half .link_2:hover {
    background-color: #71757aa1;
}

.link .logo_facebook:hover {
    background-color: #4d6ebb8a;
}

.link .logo_dribbble:hover {
    background-color: #c9508a86;
}

.link .logo_twitter:hover {
    background-color: #4cbff09a;
}

@media (min-width: 768px) and (max-width: 1260px) {
    .second_half a {
        width: 70%;
    }
    .main h1 {
        font-size: 40px;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .block_1 {
        display: block;
    }
    .block_1 .web_designing {
        width: 100%;
        padding: 4% 8% 5% 7%;
    }
    .block_2 {
        display: block;
    }
    .block_2 .drawing_scketch {
        width: 100%;
    }
    .block_2 .second_half {
        width: 100%;
        display: block;
    }
    .block_3 {
        display: block;
    }
    .designed_by {
        width: 100%;
        padding-left: 5%;
    }
    .say_hello {
        width: 100%;
        padding: 3% 0% 5% 4%;
    }
    .designed_by .logo {
        margin-top: 20%;
    }
}

@media (min-width: 375px) and (max-width: 600px) {
    .second_half a {
        width: 80%;
    }
}